.formStyle {
    display: flex;
    flex-direction: column;
}
.nameStyle {
    display: flex;
    justify-content: space-between;
}
.nameInput {
    margin: 0px 276px 10px 0px;
}
.emailStyle {
    display: flex;
    justify-content: space-between;
}
.emailInput {
    margin: 0px 276px 10px 0px;
}
.subjectStyle {
    display: flex;
    justify-content: space-between;
}
.subjectInput {
    margin: 0px 276px 10px 0px;
}
.messageStyle {
    display: flex;
    justify-content: space-between;
}
.messageInput {
    display: block;
    margin: 0px 255px 10px 0px;
}
.sendButton {
    width: 50px;
}
.clearButton {
    width: 50px;
    margin: -22px 0px 0px 60px;
}