.formStyle {
    display: grid;
}
.nameStyle {
    display: grid;
    justify-content: space-between;
}
.nameInput {
    margin: 10px 0px 10px 0px;
    width: 180px;
}
.emailStyle {
    display: grid;
    justify-content: space-between;
}
.emailInput {
    margin: 10px 0px 10px 0px;
    width: 180px;
}
.subjectStyle {
    display: grid;
    justify-content: space-between;
}
.subjectInput {
    margin: 10px 0px 10px 0px;
    width: 180px;
}
.messageStyle {
    display: grid;
    justify-content: space-between;
}
.messageInput {
    margin: 10px 0px 15px 0px;
    width: 180px;
}
.sendButton {
    width: 50px;
}
.clearButton {
    width: 50px;
    margin: -22px 0px 0px 60px;
}